
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>
<form action="List/AddTodo" method="post">
    Title:
    <input type="text" name="name" value="Title" />
    IsUrgent:
    <input type="checkbox" name="name" value="Is Urgent" />
    IsDone:
    <input type="checkbox" name="name" value="Is Done" />
    <button type="submit">Ok</button>
</form>

<table style="width:50%; height:300px; font-size: large">
    <tr style="background-color:white">
        <th>Id</th>
        <th>Title</th>
        <th>Urgent</th>
        <th>Done</th>
    </tr>
    @foreach (var todo in Model)
    {
    <tr style="background-color:white" align="center">
        <td>@todo.Id</td>
        <td>@todo.Title</td>
        <td>@todo.IsUrgent</td>
        <td>@todo.IsDone</td>
    </tr>
    }
</table>
