@model BankOfSimba.Models.BankAccount

<!DOCTYPE HTML>

<body>
    <h2>Simba</h2>
    <p>Name: @Model.Name</p><br />
    <p>Balance: @Model.Balance.ToString("0.00") @Model.Currency</p><br />
    <p>Animal Type: @Model.AnimalType </p>
</body>
