@model string
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center"><b>Matrix Checker</b></h1>
<p style="text-align:center">Check if your matrix is increasing!<br> Add a matrix and sit back while the evaulation is happens.</p><br>
<p style="text-align:center">Enter your matrix:</p>
<form action="/matrix" method="post" style="text-align:center">
    <textarea name="inputMatrix"></textarea><br>
    <button type="submit">Submit</button>
</form>
<h3 style="text-align:center">Result: </h3>
@if (Model != null)
{
    <p style="text-align: center; color: red"><b>@Model</b></p>
}
